<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServiceConnectionString" connectionString="Data Source=172.16.214.1;Initial Catalog=1dv406_AdventureWorksAssignment;User ID=appUser;Password=&quot;1Br@Lösen=rd?&quot;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
		<customErrors mode="On" defaultRedirect="GenericErrorPage.htm"/>
	</system.web>
</configuration>
